<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.OrdersMapper">
    <resultMap id="OrdersMap" type="com.example.mall.entity.vo.OrderVo">
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="product_num" property="productNum" jdbcType="INTEGER"/>
        <result column="product_price" property="productPrice" jdbcType="DOUBLE"/>
        <result column="order_time" property="orderTime" jdbcType="BIGINT"/>
    </resultMap>
    <select id="getUserId" resultMap="OrdersMap">
    SELECT
    orders.order_id,orders.user_id,orders.product_id,orders.product_num,orders.product_price,orders.order_time,
    product.product_name ,product.product_picture
    FROM orders, product
    WHERE orders.product_id = product.product_id
    AND orders.user_id = #{userId}
    </select>
</mapper>
