<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mall.mapper.ProductMapper">

    <resultMap id="ProductIdsMap" type="com.example.mall.entity.Product">
        <result column="product_id" property="productId" jdbcType="INTEGER"></result>
    </resultMap>
    <select id="selectIds" resultMap="ProductIdsMap">
        SELECT product_id FROM product
    </select>
</mapper>
